parameters:

application:
	errorPresenter: Error
	mapping:
		*: Mirin\*Module\Presenters\*Presenter

session:
	expiration: 14 days

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22

dibi:
	host: db
	username: ***
	password: ***
	database: foo
	lazy: TRUE

services:
	- Mirin\Model\BlogArticleRepository
	- Mirin\Model\BlogCategoryRepository
	- Mirin\Model\BlogCommentRepository
	router: Mirin\RouterFactory::createRouter
