parameters:

application:
	errorPresenter: Error
	mapping:
		*: Mirin\*Module\Presenters\*Presenter
php:
	intl.default_locale: cs-CZ

session:
	expiration: 14 days

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22

dibi:
	host: db
	username: ***
	password: ***
	database: foo
	lazy: TRUE

services:
	- Mirin\Model\BlogArticleRepository
	- Mirin\Model\BlogCategoryRepository
	- Mirin\Model\BlogCommentRepository
	- Mirin\Model\BlogAuthorRepository

	- Mirin\Components\ICategoriesFactory
	router: Mirin\RouterFactory::createRouter
	authenticator: Mirin\BlogAuthorAuthenticator

