<!DOCTYPE html>
<meta charset="utf-8">
<meta name="robots" content="noindex">
<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
<title>{$description}</title>

<style>
    html {
        background: #252525;
    }
    #error-body {
        color: #c3d1d1;
        font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif;
        margin: 70px auto;
        padding: 10px 20px;
        text-align: center;
    }
    #error-body h1 {
        font-size: 300%;
        margin: .6em 0;
    }
    #error-body p {
        margin: 1.5em 5em;
        line-height: 1.4;
    }
    #error-body p a {
        color: #c3d1d1;
    }
    #error-body small {
        font-size: 80%;
    }
</style>

<div id="error-body">
    <h1>{$description}</h1>

    <p>{$message|noescape}</p>

    <p><small>{$type}</small></p>
</div>
